body {
    font-family: Arial, sans-serif;
}

.form-container {
    margin-bottom: 20px;
}

form#addProductForm {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form#addProductForm h2 {
    font-size: 20px;
    color: #333;
}

form#addProductForm input,
form#addProductForm button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form#addProductForm button {
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    border: none;
}

form#addProductForm button:hover {
    background-color: #4cae4c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
